{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}



{% block header %}
<title>Mengo Hub</title>
<meta name="description" content="Travel planner">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF">
<meta name="author" content="Imran Abdu">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
<link rel="icon" href="{% static 'images/logo.png' %}">
<link rel="stylesheet" href="">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Poppins:wght@300&display=swap"
  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet">

{% endblock header %} 

{% block content %}



<h1 class="mengo-hub">MENGO HUB PDFS</h1>





<div class="fluid-for-search-form">
<form  method="GET" class="fluid-form for-search">
  <div class="dropdown" id="dropdown1">
    <div class="flex-search">
    <input type="text" class="dropdown-input"  name="q" placeholder="Search for PDF" onclick="toggleDropdown('dropdownList1')">
    <button style='border: none;' class="material-symbols-outlined" type="submit">
      search
    </button>
      </div>
    <ul class="dropdown-list" id="dropdownList1">
      <li class="dropdown-list-item" onclick="selectOption('Agriculture', 'dropdown1')">Agriculture</li>
<li class="dropdown-list-item" onclick="selectOption('Biology', 'dropdown1')">Biology</li>
<li class="dropdown-list-item" onclick="selectOption('Chemistry', 'dropdown1')">Chemistry</li>
<li class="dropdown-list-item" onclick="selectOption('Commerce', 'dropdown1')">Commerce</li>
<li class="dropdown-list-item" onclick="selectOption('Computer Studies', 'dropdown1')">Computer Studies</li>
<li class="dropdown-list-item" onclick="selectOption('Divinity', 'dropdown1')">Divinity</li>
<li class="dropdown-list-item" onclick="selectOption('Economics', 'dropdown1')">Economics</li>
<li class="dropdown-list-item" onclick="selectOption('Electricity', 'dropdown1')">Electricity</li>
<li class="dropdown-list-item" onclick="selectOption('Entrepreneurship', 'dropdown1')">Entrepreneurship</li>
<li class="dropdown-list-item" onclick="selectOption('Fine Art', 'dropdown1')">Fine Art</li>
<li class="dropdown-list-item" onclick="selectOption('French', 'dropdown1')">French</li>
<li class="dropdown-list-item" onclick="selectOption('Geography', 'dropdown1')">Geography</li>
<li class="dropdown-list-item" onclick="selectOption('History', 'dropdown1')">History</li>
<li class="dropdown-list-item" onclick="selectOption('Home Economics', 'dropdown1')">Home Economics</li>
<li class="dropdown-list-item" onclick="selectOption('Islamiat', 'dropdown1')">Islamiat</li>
<li class="dropdown-list-item" onclick="selectOption('Kiswahili', 'dropdown1')">Kiswahili</li>
<li class="dropdown-list-item" onclick="selectOption('Literature in English', 'dropdown1')">Literature in English</li>
<li class="dropdown-list-item" onclick="selectOption('Luganda', 'dropdown1')">Luganda</li>
<li class="dropdown-list-item" onclick="selectOption('Mathematics', 'dropdown1')">Mathematics</li>
<li class="dropdown-list-item" onclick="selectOption('Metalwork', 'dropdown1')">Metalwork</li>
<li class="dropdown-list-item" onclick="selectOption('Music', 'dropdown1')">Music</li>
<li class="dropdown-list-item" onclick="selectOption('Physical Education', 'dropdown1')">Physical Education</li>
<li class="dropdown-list-item" onclick="selectOption('Physics', 'dropdown1')">Physics</li>
<li class="dropdown-list-item" onclick="selectOption('Subsidiary ICT', 'dropdown1')">Subsidiary ICT</li>
<li class="dropdown-list-item" onclick="selectOption('Technical Drawing', 'dropdown1')">Technical Drawing</li>
<li class="dropdown-list-item" onclick="selectOption('Woodwork', 'dropdown1')">Woodwork</li>

    </ul>
  </div>
  </form>
</div>

<script>
  function toggleDropdown(dropdownId) {
    var dropdownList = document.getElementById(dropdownId);
    dropdownList.style.display = (dropdownList.style.display === 'block') ? 'none' : 'block';
  }

  function selectOption(option, dropdownId) {
    var dropdownInput = document.getElementById(dropdownId).querySelector('.dropdown-input');

    if (option === 'Your location') {
      // Get location and update input
      getLocationAndSetInput(dropdownInput);
    } else {
      // For other options, just set the input value
      dropdownInput.value = option;
      toggleDropdown('dropdownList1');
    }
  }

  function filterOptions() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("dropdownList1");
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
      a = li[i];
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>








<div class="pdf-container">
  {% if pdf_files %}
    {% for pdf_file in pdf_files %}
      <div class="each-pdf">
        <strong>{{ pdf_file.title }}</strong>
        <a href="{{ pdf_file.pdf_file.url }}" target="_blank" class="downloadpdf">
          <span class="material-symbols-outlined">
            download
          </span>
          </a>


          <div class="the-bottom-box">
          <p><b>{{ pdf_file.author }}</b>  <span style="margin-left:20px;">{{ pdf_file.created_on|timesince }}</span></p>
        </div>
       
      </div>
    {% endfor %}
  {% else %}
    <p>No PDFs found for '{{ query }}'</p>
  {% endif %}
</div>



<style>
  .the-bottom-box{
    position: relative;
    top:16px;
    font-size: 13px;
  }
  .the-bottom-box b{
    color: grey;
  }
  .pdf-container{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    width:70%;
    margin-top:30px;
    z-index: 0;
  }
  .each-pdf{
    border:1px solid rgb(136, 136, 136);
    padding:15px;
    border-radius: 6px;
    margin-bottom:10px;
  }

  .downloadpdf{
    float:right;
    cursor: pointer;
    color:black;
    font-size: 25px;
  }
  .downloadpdf:hover{
    color:lime;
    font-weight: bold;
  }
</style>







<style>
  .dropdown {
      position: relative;
      margin-right: 0px; /* Add margin for spacing */
      width:100%;
      z-index: 2;
    }


    .mengo-hub{
      font-family: "Source Code Pro", monospace;
      text-align:  center;
      color:lime;
      margin-top:40px;
      font-weight: bold;
    }

    .dropdown .dropdown-list {
      display: none;
      position: relative;
      background-color: #ffffff;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 30vh;
      overflow-y: scroll;
    }

    .dropdown-list-item {
      padding: 8px;
      cursor: pointer;
    }

    .dropdown-list-item:hover {
      background-color: #ddd;
    }

    .dropdown-list li{
      text-align: left;
    }



    .fluid-for-search-form{
    width: 100%;
   
  }
  .for-search{
    width:55%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    z-index: 5;
  }

.flex-search{
 
    display: inline-flex;
    border:1px solid lime;
    margin-top:20px;
    border-radius: 6px;
}

  .for-search input{
    padding:15px;
    width:100%;
    border:none;
  }

  .for-search input:focus {
    outline: none;
    border: none;
    /* Add any other styles you want for the focused state */
}

.flex-search{
  display: flex;
}

  .for-search button{
    background-color:  #00ec27;
    padding:10px;
    color:white;
    font-weight: bold;
    cursor: pointer;
  }
  .for-search button:hover{
    background-color:  lime;
  }

@media(max-width:500px){
  .for-search{
    width:80%;
  }
  .pdf-container{
  width:90%;}
  .downloadpdf{
    position: relative;
    top:0px;
  }
}
</style>



{% include 'base/footer.html' %}

{% endblock content %}